{
    "printWidth": 100,
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrderParserPlugins": ["typescript"],
    "importOrderTypeScriptVersion": "5.0.0",
    "importOrderCaseSensitive": false
}
